h1{
    align-items: center;
    text-align: center;
    border: 0cap;
    font-size: 50px;
    background-image: -moz-linear-gradient();

}
body{
    background-color: aquamarine;
}
#wish{
    font-style: italic;
    color: red;
    font-size: 30px;
    font-kerning: auto;
    

}
#marquee{
   
    direction: unset;
    flex-direction: row;
    font: 1em sans-serif;
    display: block;
    behavior: initial;
    background-color: antiquewhite;
}